export PROJECT_ROOT="$PWD"

use flake ./.dev

# Connect to the serial monitor from the CLI with:
#   arduino-cli monitor --port /dev/tty.usbmodem1101 --config 9600
export RUN_CMD='arduino-cli compile --fqbn arduino:avr:uno --upload --port /dev/tty.usbmodem1101 "$PROJECT_ROOT/sketch"'
export FORMAT_CMD='find . -type f \( -name "*.ino" -o -name "*.h" -o -name "*.cpp" -o -name "*.hpp" \) -print; find . -type f \( -name "*.ino" -o -name "*.h" -o -name "*.cpp" -o -name "*.hpp" \) -print0 | xargs -0 -r clang-format -i'
