export PROJECT_ROOT="$PWD"
export ARDUINO_FQBN='arduino:avr:uno'
export ARDUINO_CLI_CONFIG="$PROJECT_ROOT/arduino-cli.yaml"

use flake ./.dev

export RUN_CMD='arduino-cli compile --fqbn "$ARDUINO_FQBN" "$PROJECT_ROOT/sketch"'
export FORMAT_CMD='find . -type f \( -name "*.ino" -o -name "*.h" -o -name "*.cpp" -o -name "*.hpp" \) -print -exec clang-format -i {} +'
